__pycache__
*.pyc
output_models*/*
test_models/
node_modules/
mels.png
.vscode/settings.json
executable/
model_voice
model_ltsosfsd
Rec_*.wav
Synth_*.wav
Proc_*.csv
_tmp.TextGrid
.tmp.wav
*cochs.png
results/
.env/
.venv/
*.log
tmp/*
dataset_comparison/*
/Proc_*
train_log
.proc-ltsosfsd/*
.numba_cache/*
/dataset.json
faster_whisper/weights
result-tts/*
!output_models_old/chk_1653211992
!output_models_old/chk_1647178662
!output_models_old/chk_1655140497
output_models_old/*/logs_*
output_models_old/chk_1653211992/model.pth
output_models_old/chk_1647178662/model.pth
output_models_old/chk_1655140497/model.pth
output_models_old/chk_1653211992/model_best_train.pth
output_models_old/chk_1647178662/model_best_train.pth
output_models_old/chk_1655140497/model_best_train.pth